<style>
body {background-image: url(img/login2.png);}
body {background-size: cover;}
</style>

<link rel="stylesheet" href="homepage.css">

<div id='logo'>

<img src='img/logo.png'>

</div>