<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Umbrella Corporation</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <nav>
        <div id='navbar'>
            <a href='/'>Home</a>
            <% if session[:user_id] == nil %>
                <a href='/signup'>Signup</a>
                <a href='/login'>Login</a>
            <% end %>
            <% if session[:user_id] %>
                <a href='/profile'><%= session[:user_name] %></a>
                <a href='/logout'>Logout</a>
            <% end %>
        </div>
    </nav>

    <%= yield %>

</body>
</html>