<h1>Welcome, <%= session[:user_fullname] %> </h1>


<button onclick="window.location.href = './deactivation';">Deactivation</button>
<button onclick="window.location.href = './createpost';">Create Database Entry</button>

<h2>Posts</h2>

<div id="profilePosts">

    <% @posts.each do |post| %>

   <div id="profilepostContent"> 

        <div id="postTitle">
        
        <%= post.title %>

        </div>
        
        <div id="postContent">

        <h1><%= post.content %></h1>
        
        </div>
    
    </div>

    <% end %>

</div>