<h1>Welcome, <%= session[:user_fullname] %> </h1>


<button onclick="window.location.href = './deactivation';">Deactivation</button>
<button onclick="window.location.href = './createpost';">Create Database Entry</button>

<div id="profilePosts">

    <% @posts.each do |post| %>

    <%= post.content %>

    <% end %>

</div>